{% extends 'base.html' %}

{% block content %}
    <div id="add-drink" class="form-container">
        <form action="{{ url_for('drink_bp.add_drink') }}" method="POST" enctype="multipart/form-data">
            <div id="drink-name-container" class="text-fields">
                <h4>Drink Name <span class="required-mark">*</span></h4>
                <input type="text" id="name" name="name" class="text-fields" minlength="3" maxlength="15">
            </div>
            <div class="selectors-container">
                <div id="category-container" class="selector">
                    <h4>Category <span class="required-mark">*</span></h4>
                    <select id="category-select" class="dropdownlist" name="category" required>
                            {% with categories=categories %}
                                    <option value="" selected hidden>Choose Category...</option>
                                {% for c in categories %}
                                    <option value="{{ c }}">{{ c.capitalize() }}</option>
                                {% endfor %}
                            {% endwith %}
                    </select>
                </div>
                <div id="technique-container" class="selector">
                    <h4>Technique <span class="required-mark">*</span></h4>
                    <select id="technique-select" class="dropdownlist" name="technique" required>
                        {% with techniques=techniques %}
                                <option value="" selected hidden>Choose Technique...</option>
                            {% for t in techniques %}
                                <option value="{{ t }}">{{ t.capitalize() }}</option>
                            {% endfor %}
                        {% endwith %}
                    </select>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="text-box">
                <h4>Description</h4>
                <textarea id="description" name="description" maxlength="500" placeholder="Max 500 characters"></textarea>
            </div>
            <div class="text-box">
                <h4>Preparation <span class="required-mark">*</span></h4>
                <textarea id="preparation" name="preparation" maxlength="500" placeholder="Max 500 characters" required></textarea>
            </div>
            <div id="ingredients" class="ingredients">
                <h4>Ingredients</h4>
                <table id="ingredients-tab" class="text-fields">
                    <tr class="ingredient-row">
                        <td>
                            <input type="text" name="ingredient0" class="ingredient-input" placeholder="Ingredient Name" minlength="3" maxlength="30">
                        </td>
                        <td>
                            <input type="number" name="amount0" class="ingredient-input" step="0.1" maxlength="1000" placeholder="Amount">
                        </td>
                        <td>
                            <select id="unit" name="unit0" class="dropdownlist">
                                <option selected hidden value=" ">Unit</option>
                                <option value="ml">ml</option>
                                <option value="piece(s)">piece(s)</option>
                                <option value="drop(s)">drop(s)</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="ingredient-iterator" value="1" />
                <button type="button" id="add-ingredient" class="submit-button">Add Ingredient</button>
            </div>
            <div class="upload-photo">
                <label for="upload-photo" class="photo-upload">Choose Drink Photo...</label>
                <input type="file" name="file" id="upload-photo" accept=".jpg, .jpeg, .png">
            </div>
            <div class="photo-hint"> Accept formats: .png .jpg .jpeg and size < 1MB.</div>
            <button type="submit" id="add-button" name="submit" class="submit-button">
                Add Drink <i class="icon-right-big"></i>
            </button>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rows_adder.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/filename_updater.js') }}"></script>
{% endblock content %}
