{% extends 'base.html' %}

{% block header %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/rows_adder.js') }}"></script>
{% endblock %}
{% block content %}
    <form action="/v1/add_drink" method="POST" enctype="multipart/form-data">
        <label for="name">Drink Name</label>
        <input type="text" id="name" name="name"><br>
        <label for="category">Category</label>
        <select id="category" name="category">
            {% with categories=categories %}
                {% for c in categories %}
                    <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            {% endwith %}
        </select><br>
        <label for="technique">Technique</label>
        <select id="technique" name="technique">
            {% with techniques=techniques %}
                {% for t in techniques %}
                    <option value="{{ t }}">{{ t }}</option>
                {% endfor %}
            {% endwith %}
        </select><br>
        <label for="description">Drink description</label>
        <input type="text" id="description" name="description"><br>
        <label for="preparation">Drink preparation</label>
        <input type="text" id="preparation" name="preparation"><br>
        <label>Ingredients</label>
        <label>Amount</label><br>
        <input type="text" name="ingredient0">
        <input type="number" name="amount0"><br>
        <span id="add_ingredient">&nbsp</span><br>
        <input type="button" value="Add Ingredient" onclick="add()"/><br>
        <label for="photo">Add Drink Photo</label>
        <input type="file" name="file" id="photo"><br>
        <button type="submit" name="submit">Submit</button>
{% endblock content %}
