{% extends 'base.html' %}
{% block content %}
    <form action="/v1/add_drink" method="POST">
        <label for="name">Drink Name</label>
        <input type="text" id="name" name="name"><br>
        <label for="category">Category</label>
        <select id="category" name="category">
            {% with categories=categories %}
                {% for c in categories %}
                    <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            {% endwith %}
        </select><br>
        <label for="technique">Technique</label>
        <select id="technique" name="technique">
            {% with techniques=techniques %}
                {% for t in techniques %}
                    <option value="{{ t }}">{{ t }}</option>
                {% endfor %}
            {% endwith %}
        </select><br>
        <label for="description">Drink description</label>
        <input type="text" id="description" name="description"><br>
        <label for="preparation">Drink preparation</label>
        <input type="text" id="preparation" name="preparation"><br>
        <label>Ingredients</label>
        <label>Amount</label><br>
        <input type="text" name="ingredient1">
        <input type="number" name="amount1"><br>
        <input type="text" name="ingredient2">
        <input type="number" name="amount2"><br>
        <input type="text" name="ingredient3">
        <input type="number" name="amount3"><br>
        <input type="text" name="ingredient4">
        <input type="number" name="amount4"><br>
        <input type="text" name="ingredient5">
        <input type="number" name="amount5"><br>
        <input type="text" name="ingredient6">
        <input type="number" name="amount6"><br>
        <button type="button" name="add ingredients">+</button><br>
        <button type="submit" name="submit">Submit</button>
    </form>
{% endblock content %}