<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#search">Search</a>
    {% if current_user.is_anonymous %}
        <a href="v1/register">Register</a>
        <a href="v1/login">Login</a>
    {% else %}
        <a href="v1/add_drink">Add drink</a>
        <a href="/v1/logout">Logout</a>
    {% endif %}
</div>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% block content %}
{% endblock content %}
</body>
</html>