{% extends 'base.html' %}

{% block content %}
    {% with drinks=drinks, msg=msg, category=category %}
        <h3 id="drinks-list-header"> {{ msg }} </h3>
        {% if drinks %}
            <div class="search-results">
                <ul>
                    {% for d in drinks.items %}
                    <li>
                        <a href="/v1/drink/{{ d.drink_id }}">
                            <div class="search-img">
                                <img src="{{ d.image }}">
                            </div>
                            <div class="drink-name">
                                {{ d.name.capitalize() }}
                            </div>
                            <div class="drink-author">
                                Created by: {{ d.author_nick }}
                            </div>
                            <div style="clear:both;"></div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pagination">
                {% if drinks.has_prev %}
                    <a href="{{ url_for('search_bp.display_category',
                                category=category, page=drinks.prev_num) }}"
                                class="page_num"><<</a>
                {% endif %}
                {% for page_num in drinks.iter_pages(left_edge=1, left_current=5, right_current=5, right_edge=1) %}
                    {% if page_num %}
                        {% if drinks.page == page_num %}
                            <a href="{{ url_for('search_bp.display_category',
                                                category=category,
                                                page=page_num) }}" class="page_num_chosed">{{ page_num }}</a>
                        {% else %}
                            <a href="{{ url_for('search_bp.display_category', category=category, page=page_num) }}" class="page_num">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                {% if drinks.has_next %}
                    <a href="{{ url_for('search_bp.display_category',
                                        category=category,
                                        page=drinks.next_num) }}" class="page_num">>></a>
                {% endif %}
            </div>
        {% else %}
            <h3> There are no drinks in this category. </h3>
        {% endif %}
    {% endwith %}
{% endblock content %}
