{% extends 'base.html' %}

{% block content %}
    <form action="/v1/profile/change_password" method="POST">
        <label for="oldpass">Current Password</label><br>
        <input type="password" id="oldpass" name="oldpass"><br>
        <label for="newpass">New Password</label><br>
        <input type="password" id="newpass" name="newpass"><br>
        <label for="confirmnew">Confirm new password</label><br>
        <input type="password" id="confirmnew" name="confirmnew"><br>
        <button type="submit" name="submit">Submit</button>
    </form>
{% endblock content %}