{% extends 'base.html' %}

{% block content %}
    <div id="change-password" class="form-container">
        <form action="/v1/profile/change_password" method="POST">
            <div id="old-pass" class="text-fields">
                <label for="oldpass"></label>
                <input type="password" id="oldpass" name="oldpass" placeholder="Current Password">
            </div>
            <div id="new-pass" class="text-fields">
                <label for="newpass"></label>
                <input type="password" id="newpass" name="newpass" placeholder="New Password">
            </div>
            <div id="conf-new-pass" class="text-fields">
                <label for="confirmnew"></label>
                <input type="password" id="confirmnew" name="confirmnew" placeholder="Confirm New Password">
            </div>
            <div>
                <button type="submit" name="submit" class="submit-button">
                    Change Password <i class="icon-right-big"></i>
                </button>
            </div>
        </form>
    </div>
{% endblock content %}