{% extends 'base.html' %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/voting_system.js') }}"></script>
{% endblock %}

{% block content %}
    {% with drink=drink, ingredients=ingredients, comments=comments, img=img, author=author %}
        <input type="hidden" id="drink_id" value="{{ drink.drink_id }}">
        <input type="hidden" id="user_id" value="{{ current_user.user_id }}">

        <div id="drink-page-top">
            <div id="drink-img">
                <img src="{{ img }}">
            </div>
            <div id="voting-container">
                <div id="stars">
                    <div id="star1" class="star"><i class="icon-star-empty"></i></div>
                    <div id="star2" class="star"><i class="icon-star-empty"></i></div>
                    <div id="star3" class="star"><i class="icon-star-empty"></i></div>
                    <div id="star4" class="star"><i class="icon-star-empty"></i></div>
                    <div id="star5" class="star"><i class="icon-star-empty"></i></div>
                </div>
            </div>
            <span id="rate">Rate: 0 (0 votes)</span>
            <div id="drink-name-display">
                <h4> {{ drink.name }} </h4>
            </div>
            <div id="date-added">
                Added on {{ drink.add_date }}
            </div>
            <div id="drink-author">
                <span class="drink-attribute">Author:</span>
                <a href="/v1/profile/{{ drink.author }}" class="author-link">
                    {{ author }}
                </a>
            </div>
            <div id="category">
                <span class="drink-attribute">Category:</span>
                {{ drink.category }}
            </div>
            <div id="technique">
                <span class="drink-attribute">Technique:</span>
                {{ drink.technique }}
            </div>
            <div id="drink-ingredients">
                <span class="drink-attribute">Ingredients:</span>
                <ul>
                    {% for i in ingredients %}
                        {% if i != None %}
                                <li>
                                    {{ i['ingredient'].capitalize() }}: {{ i['amount'] }} {{ i['unit'] }}
                                </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="drink-mid-page">
            {% if drink.description %}
                <h6 class="drink-page-headers">Description</h6>
                <div class="drink-long-text">
                    {{ drink.description }}
                </div>
            {% endif %}
            <h6 class="drink-page-headers">Preparation</h6>
            <div class="drink-long-text">
                {{ drink.description }}
            </div>
        </div>
        <h6 class="drink-page-headers">Comments</h6>
        <div id="comment-section">
            {% if current_user.is_authenticated %}
                    <div id="add-comment">
                        <form action="/v1/drink/{{ drink.drink_id }}/comment" method="POST">
                            <div id="textarea-div">
                                <textarea id="comment-area" name="content" maxlength="250" placeholder="Max 250 characters"></textarea>
                            </div>
                            <div id="add-button-div">
                                <button id="add-comment-button" type="submit" name="submit" class="submit-button">Send</button>
                            </div>
                            <div style="clear:both;"></div>
                        </form>
                    </div>
            {% endif %}
            <div id="all-comments">

                {% for c in comments %}
                    <div id="comment">
                        <div class="comment-header">
                            <div class="comment-author">
                                <a href="/v1/profile/{{ c.author }}" class="author-link">
                                {{ c.author_nick }}
                                </a>
                            </div>
                            <div class="comment-operations">
                                {% if c.author == current_user.user_id %}
                                    <a href="/v1/drink/{{ drink.drink_id }}/comment/edit/{{ c.comment_id }}" class="comment-option">
                                        Edit Comment
                                    </a>
                                    <a href="/v1/drink/{{ drink.drink_id }}/comment/delete/{{ c.comment_id }}" class="comment-option">
                                        Delete Comment
                                    </a>
                                {% endif %}
                            </div>
                            <div class="comment-date">{{ c.date }}</div>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="comment-content-display">
                            <div id="comment-text">{{ c.content }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endwith %}
{% endblock content %}