{% extends 'base.html' %}

{% block content %}
        <h3>About the page</h3>
        <div id="page-description">

                <p>
                        This page is my first uncommercial hobby project. As a unregistered user you can review drinks by category,
                        display cocktails recipes and search drinks by name or ingredients.
                        Additionally, after registration you can add your own drinks receipts, comment drinks or rate them.
                </p>
                <p>
                        To realize this project I have used Python with Flask microframework, HTML, CSS and Javascript.
                        All data are stored in postgreSQL database while images of drinks and users are stored in AWS S3 cloud.
                </p>
        </div>
{% endblock %}