{% extends 'base.html' %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    {% with user=user, img=img %}
        <div id="change-avatar" class="form-container">
            <form action="/v1/profile/{{ current_user.user_id }}/update_img" method="POST" enctype="multipart/form-data">
                <img src="{{ img }}">
                <div id="delete-pic">
                    <a href="/v1/profile/{{ current_user.user_id }}/delete_pic">
                        <input type="button" value="Delete Avatar" class="submit-button">
                    </a>
                </div>
                <div class="upload-photo">
                    <label for="upload-photo" class="photo-upload">Choose New Avatar...</label>
                    <input type="file" name="file" id="upload-photo">
                </div>
                <div class="photo-hint"> Accept formats: .png .jpg .jpeg and size < 5MB.</div>
                <button type="submit" id="update-avatar" name="submit" class="submit-button">
                    Update Avatar <i class="icon-right-big"></i>
                </button>
            </form>
        </div>
    {% endwith %}
    <script src="{{ url_for('static', filename='js/filename_updater.js') }}"></script>
{% endblock %}