{% extends 'base.html' %}

{% block content %}
    {% with user=user, img=img, drinks=drinks %}
        <div id="profile-page">
            <div id="profile-top">
                <div id="user-img">
                    <img src="{{ user.image }}">
                </div>
                <div id="user-info">
                    <div id="user-nick">
                        <h2 class="drink-attribute">{{ user.nick }}</h2>
                    </div>
                    <div id="join-date">
                        Joined: <span class="drink-attribute">{{ user.register_date }}</span>
                    </div>
                    <div id="drinks-number">
                        Added drinks: <span class="drink-attribute">{{ user.drinks_number }}</span>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <h4 class="drink-page-headers">{{ user.nick }}'s Drinks</h4>
            <div id="user-drinks">
                {% if drinks %}
                    <div id="drinks-list" class="search-results">
                        <ul>
                            {% for d in drinks %}
                                <li>
                                    <a href="/v1/drink/{{ d.drink_id }}">
                                        <div class="search-img">
                                            <img src="{{ d.image }}">
                                        </div>
                                        <div>
                                            <div class="drink-name">
                                                {{ d.name.capitalize() }}
                                            </div>

                                        </div>
                                        {% if d.author == current_user.user_id %}
                                            <div class="drink-operatios">
                                                <a href="/v1/drink/update/{{ d.drink_id }}" class="comment-option">
                                                    Update Drink
                                                </a>
                                                <a href="/v1/drink/delete/{{ d.drink_id }}" class="comment-option">
                                                    Delete Drink
                                                </a>
                                            </div>
                                        {% endif %}
                                        <div style="clear:both;"></div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                        {{ msg }}
                    {% endif %}
            </div>
        </div>
    {% endwith %}
{% endblock content %}