{% extends "base.html" %}

{% block content %}
    <form action="/v1/register" method="POST">
        <label for="email">E-mail address</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="nick">Nickname</label><br>
        <input type="text" id="nick" name="nick"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="confirm_pass">Confirm Password</label><br>
        <input type="password" id="confirm_pass" name="confirm_pass"><br>
        <button type="submit" name="submit">Submit</button>
    </form>
{% endblock content %}
