{% extends 'base.html' %}

{% block content %}
    <div id="search" class="form-container">
        <form action="{{ url_for('search_bp.search_drinks') }}" method="POST">
            <div id="criteria-container">
                <label for="criteria">Search by:</label>
                <select id="criteria" name="criteria" class="dropdownlist">
                    {% with criteria=search_criteria %}
                        {% for c in criteria %}
                            <option value="{{ c.replace(' ', '_') }}">{{ c.capitalize() }}</option>
                        {% endfor %}
                    {% endwith %}
                </select>
            </div>
            <div id="search-container">
                <div id="search-text" class="text-fields">
                    <input type="text" name="search" placeholder="Introduce Searching Text">
                </div>
                <div id="search-button">
                    <button class="submit-button" type="submit">
                        <i class="icon-search"></i>
                    </button>
                </div>
                <div style="clear: both;"></div>
            </div>
        </form>
    </div>
{% endblock content %}