{% extends 'base.html' %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rows_adder.js') }}"></script>
{% endblock %}

{% block content %}
    {% with drink=drink, categories=categories, techniques=techniques, units=units, ingredients=ingredients, ingr_number=ingr_number, img=img %}
        <div id="update-drink" class="form-container">
            <form action="{{ url_for('drink_bp.update_drink', drink_id=drink.drink_id) }}" method="POST" enctype="multipart/form-data">
                <div id="update-drink-img">
                    <img src="{{ drink.image }}">
                    {% if drink.image != 'http://bar-project.s3.amazonaws.com/images/drinks/default.jpg' %}
                        <div id="delete-button">
                            <a href="{{ url_for('drink_bp.delete_drink_pic', drink_id=drink.drink_id) }}">
                                <input type="button" value="Delete Image" class="submit-button">
                            </a>
                        </div>
                    {% endif %}
                    <div class="upload-photo">
                        <label for="upload-photo" class="photo-upload">Upload New Image...</label>
                        <input type="file" name="file" id="upload-photo" accept=".jpg, .jpeg, .png">
                    </div>
                    <div class="photo-hint"> Accept formats: .png .jpg .jpeg and size < 1MB.</div>
                </div>
                <div id="update-name-container" class="text-fields">
                    <h4>Drink Name <span class="required-mark">*</span></h4>
                    <input type="text" id="update-name" name="name" class="text-fields" value="{{ drink.name }}" required>
                </div>
                <div class="selectors-container">
                    <div id="category-container" class="selector">
                        <h4>Category <span class="required-mark">*</span></h4>
                        <select id="category-select" class="dropdownlist" name="category" required>
                            {% for c in categories %}
                                {% if drink.category == c %}
                                    <option value="{{ c }}" selected>{{ c }}</option>
                                {% else %}
                                    <option value="{{ c }}">{{ c }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="technique-container" class="selector">
                        <h4>Technique <span class="required-mark">*</span></h4>
                        <select id="technique-select" class="dropdownlist" name="technique" required>
                            {% for t in techniques %}
                                {% if drink.technique == t %}
                                    <option value="{{ t }}" selected>{{ t }}</option>
                                {% else %}
                                    <option value="{{ t }}">{{ t }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="text-box">
                    <h4>Description</h4>
                    <textarea id="description" name="description" maxlength="500" placeholder="Max 500 characters">{{ drink.description }}</textarea>
                 </div>
                <div class="text-box">
                    <h4>Preparation <span class="required-mark">*</span></h4>
                    <textarea id="preparation" name="preparation" maxlength="500" placeholder="Max 500 characters" required>{{ drink.preparation }}</textarea>
                </div>
                <div id="ingredients" class="ingredients">
                    <h4>Ingredients</h4>
                    <table id="ingredients-tab" class="text-fields">
                        {% for i in ingredients %}
                            <tr class="ingredient-row">
                                <td>
                                    <input type="text"
                                           name="{{ 'ingredient{}'.format(ingredients.index(i)) }}"
                                           class="ingredient-input" value="{{ i.ingr_name }}"
                                           placeholder="Ingredient Name">
                                </td>
                                <td><input type="number"
                                           name="{{ 'amount{}'.format(ingredients.index(i)) }}"
                                           class="ingredient-input" value="{{ i.ingr_amount }}"
                                           placeholder="Amount" step="0.1">
                                </td>
                                <td>
                                    <select id="unit" class="dropdownlist" name="{{ 'unit{}'.format(ingredients.index(i)) }}">
                                        {% for u in units %}
                                            {% if i.ingr_unit == u %}
                                                <option selected value="{{ i.ingr_unit }}">{{ i.ingr_unit }}</option>
                                            {% else %}
                                                <option value="{{ u }}">{{ u }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <input type="hidden" id="ingredient-iterator" value="{{ ingr_number }}">
                    <input type="button" id="add-ingredient" class="submit-button" value="Add Ingredient" onclick="add()"/>
                </div>
                <button type="submit" name="submit" class="submit-button">Save Changes</button>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/filename_updater.js') }}"></script>
    {% endwith %}
{% endblock %}