{% extends 'base.html' %}

{% block content %}
    {% with drinks=drinks, msg=msg %}
        <h3 id="drinks-list-header"> Your Drinks: </h3>
        {% if drinks %}
            <div class="search-results">
                <ul>
                    {% for d in drinks %}
                    <li>
                        <a href="/v1/drink/{{ d.drink_id }}">
                            <div class="search-img">
                                <img src="{{ d.image }}">
                            </div>
                            <div class="drink-name">
                                {{ d.name.capitalize() }}
                            </div>
                            {% if d.author == current_user.user_id %}
                                <div class="drink-operatios">
                                    <a href="/v1/drink/update/{{ d.drink_id }}" class="comment-option">
                                        Update Drink
                                    </a>
                                    <a href="/v1/drink/delete/{{ d.drink_id }}" class="comment-option">
                                        Delete Drink
                                    </a>
                                </div>
                            {% endif %}
                            <div style="clear:both;"></div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <h3> {{ msg }} </h3>
        {% endif %}
    {% endwith %}
{% endblock content %}
